@{
    ViewData["Title"] = "Autentificare";
}

<link rel="stylesheet" href="~/css/autentificare.css" />

<h2>Autentificare</h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div style="color: red;">@ViewBag.Error</div>
    }

<form asp-controller="Medics" asp-action="Login" method="post" class="login-form">
    <div class="form-group">
        <label for="Nume">Nume:</label>
        <input type="text" id="Nume" name="Nume" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Parola">Parola:</label>
        <input type="password" id="Parola" name="Parola" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Autentificare</button>
</form>