@model ClinicaMedicalaV20.Models.Pacient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pacient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IDMedicApartinator" class="control-label"></label>
                <input asp-for="IDMedicApartinator" class="form-control" />
                <span asp-validation-for="IDMedicApartinator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label"></label>
                <input asp-for="CNP" class="form-control" />
                <span asp-validation-for="CNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Varsta" class="control-label"></label>
                <input asp-for="Varsta" class="form-control" />
                <span asp-validation-for="Varsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Judet" class="control-label"></label>
                <input asp-for="Judet" class="form-control" />
                <span asp-validation-for="Judet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oras" class="control-label"></label>
                <input asp-for="Oras" class="form-control" />
                <span asp-validation-for="Oras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strada" class="control-label"></label>
                <input asp-for="Strada" class="form-control" />
                <span asp-validation-for="Strada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numar" class="control-label"></label>
                <input asp-for="Numar" class="form-control" />
                <span asp-validation-for="Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bloc" class="control-label"></label>
                <input asp-for="Bloc" class="form-control" />
                <span asp-validation-for="Bloc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apartament" class="control-label"></label>
                <input asp-for="Apartament" class="form-control" />
                <span asp-validation-for="Apartament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarTel" class="control-label"></label>
                <input asp-for="NumarTel" class="form-control" />
                <span asp-validation-for="NumarTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesie" class="control-label"></label>
                <input asp-for="Profesie" class="form-control" />
                <span asp-validation-for="Profesie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocMunca" class="control-label"></label>
                <input asp-for="LocMunca" class="form-control" />
                <span asp-validation-for="LocMunca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
